@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Today's date is: @ViewData["Today"]</p>

    <!-- テキストボックス -->
    <input type="text" class="form-control" placeholder="Enter text here"
        style="margin-top: 20px; width: 300px; margin-left: auto; margin-right: auto;">

    <!-- ボタン -->
    <button type="button" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
</div>
