a {
  color: #0366d6;
  /* GitHub Blue */
}

a:hover {
  color: #0356b6;
  /* GitHub Dark Blue */
}

.btn-primary {
  background-color: #28a745;
  /* GitHub Green */
  border-color: #28a745;
  /* GitHub Green */
}

.btn-primary:hover {
  background-color: #218838;
  /* GitHub Dark Green */
  border-color: #218838;
  /* GitHub Dark Green */
}
